<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/auth/auth.css" />
  </head>
  <body>
    <div class="auth-container">
      <h1>Hi there!</h1>
      <p>
        Welcome to the peer to peer academy.
      </p>
      <div class="actions">
        <button class="primary-button">Create an account</button>
        <button class="tertiary-button">Log in</button>
      </div>
      <fieldset><legend>or continue with</legend></fieldset>
      <div class="socials">
        <button class="gg"><img src="./assets/img/google.png" alt="" /></button>
        <button class="app"><img src="./assets/img/apple.png" alt="" /></button>
      </div>
    </div>
  </body>
  <script src="./script/auth.js"></script>
</html>
