<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="./css/auth/auth.css" />
  </head>
  <body>
    <div class="auth-container">
      <h1>Create account!</h1>
      <form id="signup-form">
        <label for="email">Email address</label>
        <input type="email" name="email" placeholder="Enter email address" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" required minlength="6">

        <label for="password">Confirm Password</label>
        <input type="password" name="conf_password" placeholder="Confirm password" required minlength="6">
        <p class="password-error" style="font-size: 10px; text-align: end;" ></p>
      </form>
      <div class="actions">
        <button class="primary-button" id="signup" form="signup-form">Create account</button>
      </div>
      <p style="font-size: 15px;">Already have an account? <a href="/login">Login</a></p>
    </div>
    <script>
      const signup = document.getElementById("signup-form");

// Add a submit event listener to the login form

// Add a submit event listener to the signup form
if (signup) {
  // Get the password and confirm password fields and the password error message element
  const password = document.querySelector("input[name='password']");
  const confPassword = document.querySelector("input[name='conf_password']");
  const passwordError = document.querySelector(".password-error");

  /**
   * Checks if the password and confirm password values are valid.
   */
  function checkPassword() {
    // Get the trimmed values of password and confirm password
    const passwordValue = password.value.trim();
    const confPasswordValue = confPassword.value.trim();

    // Check if either password or confirm password is empty
    if (passwordValue === "" || confPasswordValue === "") {
      passwordError.textContent = "Passwords cannot be empty!";
    } else if (passwordValue !== confPasswordValue) {
      // Check if password and confirm password values match
      passwordError.textContent = "Passwords do not match!";
    } else {
      passwordError.textContent = "";
    }

    // Set the color of the password error message
    passwordError.style.color = (passwordError.textContent === "") ? "" : "red";
  }

  // Add input event listeners to the password and confirm password fields
  password.addEventListener("input", checkPassword);
  confPassword.addEventListener("input", checkPassword);

  // Prevent the default form submission behavior
  signup.addEventListener("submit", async (evt) => {
    evt.preventDefault();

    // Check if the passwords match
    if (password.value !== confPassword.value) {
      passwordError.textContent = "Passwords do not match!";
      passwordError.style.color = "red";
    } else {
      // Get the email and password values from the form
      const body = {
        email: signup.email.value,
        password: signup.password.value,
      };
      console.log(body);
      try {
        // Send a POST request to the server with the email and password values
        const res = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify(body),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        if(data.user){
          location.replace("/home");
        }
      } catch (error) {
        console.log(error);
      }
    }
  });
}
    </script>
  </body>
</html>
