<div class="banner">
    <p>Are you a university or organization looking for tutoring partnership? <a href="/">Talk to us</a></p>
    <span onclick="this.parentElement.style.display='none'">x</span>
</div>