<nav class="topnav">
  <a href="/">
    <img src="./assets/img/logo.png" alt="Corsa Academy logo" class="logo" />
  </a>
  <div class="links">
    <a href="/">For students</a>
    <a href="/about">About us</a>
    <a href="/courses">Meetups</a>
    <a href="/tutors">Peers</a>
    <a href="/seminars">Rersources</a>
  </div>
  <div class="buttons">
    <% if (user) { %>
    <a href="/app"><%= user.username %></a>
    <% } else {%>
    <a href="auth"><button class="primary-button">Get Started now!</button></a>
    <% } %>
  </div>
</nav>
