<nav class="topnav">
  <h3>Logo</h3>
  <div class="links">
    <a href="/">Home</a>
    <span>/</span>
    <a href="/about">About</a>
    <span>/</span>

    <a href="/courses">Courses</a>
    <span>/</span>

    <a href="/tutors">Tutors</a>
    <span>/</span>
    <a href="/seminars">Seminars</a>
  </div>
  <div class="buttons">
    <button>Join the waitlist</button>
  </div>
</nav>
