<nav class="topnav">
  <a href="/"> <img src="./assets/logo.svg" alt="" class="logo" /> </a>
  <div class="links">
    <a href="/">For students</a>
    <a href="/about">About us</a>
    <a href="/courses">Courses</a>
    <a href="/tutors">Tutors</a>
    <a href="/seminars">Rersources</a>
  </div>
  <div class="buttons">
    <button>Join the waitlist</button>
  </div>
</nav>
