<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/dashboard/dashboard.css" />
  <body>
    <div class="container">
      <%- include('sidenav') %>
      <div class="wrapper"><%- include('header') %></div>
    </div>
  </body>
</html>
