<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <h1 style="color: #fff;">Welcome <%= user.email %></h1>

    <a href="/logout">Logout</a>

</body>
</html>