<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="./css/course/course.css">
  <body>
    <%- include('./partials/banner') %> <%- include('./partials/topnav') %>
    <main class="hero">
      <div class="texts">
        <div class="info">
          Growing <img src="./assets/explore.svg" alt="loader" loading="lazy" />
          Community
        </div>
        <h1>
          <div>
            Connecting
            <span>
              <div class="chips">
                <div class="chip"></div>
                <div class="chip"></div>
                <div class="chip"></div>
                <div class="chip"></div>
              </div>
              you
            </span>
          </div>
          to your perfect tutor
        </h1>
        <p>
          We believe learning becomes fun and effective with like-minded
          individuals and familiar experts. Join the Corsa Academy for a
          personalized experience that's all about you!
        </p>
        <div class="buttons">
          <button class="secondary-button">Learn more</button>
          <a href="/signup"><button class="primary-button">Start Learning</button></a>
        </div>
      </div>
      <div class="img-container">
        <div class="tutor-card">
          <div class="header">
            <div class="overlay">
              <img src="./assets/heart.svg" alt="" class="icon" />
            </div>
          </div>
          <div class="details">
            <img src="./assets/loader.svg" alt="" />
            <p class="expertise">Expert in Music</p>
            <p class="name">Jeniffer Lopez</p>
            <button class="primary-button">Follow Jeniffer</button>
          </div>
        </div>

        <div class="tutor-card">
          <div
            class="header"
            style="
              background-image: url('./assets/img/guy-happy-in-couch.8da7cbfccd005211e227.jpg');
            "
          >
          <div class="overlay">
            <img src="./assets/heart.svg" alt="" class="icon">
          </div>
          </div>
          <div class="details">
            <img src="./assets/search.svg" alt="" />
            <p class="expertise">Expert in Javascript</p>
            <p class="name">Gideon Appau</p>
            <button class="primary-button">Follow Gideon</button>
          </div>
        </div>
      </div>
    </main>
    
    <a href="/courses"><button class="load">Load more courses</button></a>
    <script src="./script/script.js"></script>
  </body>
</html>
