@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Syne", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 200ms ease;
}

body {
  font-size: 17px;
}

a {
  color: #fff;
}

.banner {
  background: #582fff;
  text-align: center;
  padding: 8px;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.banner span {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1.5px dashed #fafafa;
}
.topnav .links {
  color: slategray;
  font-size: 15px;
}
.topnav .links a {
  text-decoration: none;
  color: slategray;
  margin: 16px;
}
.topnav .links a:hover {
  color: #ff1b6b;
}
.topnav .buttons button {
  padding: 14px 40px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #ff1b6b;
  background-color: rgba(255, 27, 107, 0.062745098);
  color: #ff1b6b;
}
.topnav .buttons button:hover {
  transform: scale(1.02);
}

.hero {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.hero .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px 40px;
  color: #ff1b6b;
  background-color: rgba(250, 250, 250, 0.062745098);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  gap: 1em;
}
.hero .info img {
  height: 25px;
}
.hero h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.3em;
  font-weight: 700;
  text-align: center;
}
.hero h1 span {
  color: #ff1b6b;
  position: relative;
  display: inline-block;
}
.hero h1 span img {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
}
.hero p {
  max-width: 680px;
  margin-bottom: 36px;
  color: slategray;
  line-height: 1.6em;
  text-align: center;
}
.hero .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.hero .buttons .primary {
  padding: 14px 40px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #ff1b6b;
  background-color: #ff1b6b;
  color: #fff;
}
.hero .buttons .primary:hover {
  transform: scale(1.02);
}
.hero .buttons .tertiary {
  padding: 14px 40px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #ff1b6b;
  background-color: rgba(255, 27, 107, 0.062745098);
  color: #ff1b6b;
}
.hero .buttons .tertiary:hover {
  transform: scale(1.02);
}

.chips {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chips .chip {
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin-right: -15px;
  border-radius: 100%;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px solid #fff;
}
.chips .chip img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.chips .chip:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1623945194105-cd36c4433390?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbGxlZ2UlMjBzdHVkZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
.chips .chip:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1529470839332-78ad660a6a82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHN0dWRlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
}
.chips .chip:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1525748822304-6807cb1348ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0dWRlbnQlMjBwb3J0cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
}
.chips .chip:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3R1ZGVudCUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
}
.chips p {
  margin: 0 auto;
  margin-left: 1.5em;
  color: #3f4550;
}/*# sourceMappingURL=style.css.map */