body {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.container {
  max-width: 1440px;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 0;
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
  border: 1px solid rgb(40, 40, 40);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.header .logo-container img {
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
}
.header .search-bar {
  height: 45px;
  display: flex;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
.header .search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  border: 1.3px solid rgb(40, 40, 40);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}
.header .user-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}
.header .user-settings svg {
  width: 10px;
  flex-shrink: 0;
}
@media screen and (max-width: 575px) {
  .header .user-settings svg {
    display: none;
  }
}
.header .user-settings .notify {
  position: relative;
}
.header .user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}
.header .user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #582fff;
  position: absolute;
  right: 1px;
  border: 1px solid rgb(40, 40, 40);
  top: -2px;
}
@media screen and (max-width: 575px) {
  .header .user-settings .notify .notification {
    display: none;
  }
}
.header .user-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.header .user-name {
  color: #fff;
  font-size: 14px;
  margin: 0 6px 0 12px;
}
@media screen and (max-width: 575px) {
  .header .user-name {
    display: none;
  }
}

.actions {
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.actions .breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #888;
  gap: 16px;
}
.actions .breadcrumbs .active {
  color: #582fff;
}
.actions button {
  height: 50px;
}

.peers {
  width: 300px;
  padding: 20px;
  background: rgb(28, 28, 28);
  border-radius: 10px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border: 1.3px solid rgb(40, 40, 40);
}
.peers h1 {
  font-size: 20px;
  margin-bottom: 16px;
}
.peers .card {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.peers .card .user-img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 100%;
}
.peers .card .follows {
  font-size: 10px;
  color: #582fff;
  right: 0;
  margin-bottom: 4px;
}
.peers .card .text {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.peers .card .text .name {
  font-size: 15px;
}
.peers .card .text .username {
  color: #888;
  font-size: 14px;
}
.peers .card .icon {
  position: absolute;
  right: 0;
}
.peers .card button {
  padding: 4px 8px;
  font-size: 9px;
  position: absolute;
  right: 0;
  border: 1px solid rgb(40, 40, 40);
}
.peers .card::after {
  width: 100px;
  height: 100px;
  background: #582fff;
  position: absolute;
  bottom: 0;
}

.main {
  flex: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(125, 128, 132, 0.1607843137);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: none;
}
.overlay form {
  max-width: 100%;
  width: 38%;
  padding: 20px;
  background: rgb(28, 28, 28);
  border-radius: 10px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border: 1.3px solid rgb(40, 40, 40);
}
.overlay form h1 {
  font-size: 20px;
  margin-bottom: 16px;
}
.overlay form .buttons {
  display: flex;
  align-items: start;
  justify-content: right;
  gap: 16px;
}/*# sourceMappingURL=dashboard.css.map */