<link rel="stylesheet" href="./css/course/course.css" />
<div class="courses">
  <div class="tab">
    <% if (categories.length > 0) { %> <% categories.map(category => { %>
    <button class="tablinks" onclick="openCity(event,)">
      <%= category %>
    </button>
    <% }) %> <% } %>
  </div>
  <div class="container">
    
</div>
<script src="./script/script.js"></script>